ul
{
    color: orangered;
}
.ulli{
    list-style: armenian;
}

.unndlnd{
    text-decoration:underline;
}

.ybgrd{
    background-color: gray;
}
div div.card-menu{
    border-radius:1rem;
}

.card-menu{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   padding:2rem;
}
div.card{
max-width:18rem;
}
body{
    background: #bbb7b5;
}
.nav-link{
    font: size 60px;
}
